[submodule "backend"]
	path = backend
	url = https://github.com/GaneshHayagrivanM/Collabocal-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/GaneshHayagrivanM/Collabocal-frontend
